@import "../colors/waybar.css";

* {
    font-family: FantasqueSansM Nerd Font;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 0;
}

#workspaces,
#window,
#tray,
#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#power-profiles-daemon {
    background: @background;
    padding: 5px 10px;
    margin: 5px 0px;
}

window#waybar {
    background: transparent;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    padding: 5px 5px;
    color: @lblack;
    margin: 0;
}

#workspaces button.active {
    color: @foreground;
    background: @background;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @red;
    background: @red;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @background;
    background: @foreground;
    border-radius: 10px;
}

#workspaces {
    border-radius: 10px;
    margin: 5px;
    padding: 0px 5px;
}

#window {
    color: @foreground;
    border-radius: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 5px;
}

#power-profiles-daemon {
    color: @red;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
}

#clock {
    color: @green;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @blue;
}

#battery {
    color: @magenta;
}

#pulseaudio {
    color: @cyan;
}

#pulseaudio.microphone {
    color: @white;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}
